/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


.centercontainer{
    position: absolute;
    top: 40%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.logintable {
    max-width: 80%;
    text-align: center;
    margin: auto;
}
.hometitle {
    max-width: 100%;
    text-align: center;
    margin: auto;
}
.pagetitle {
    font-weight: bold;
}
.tableheader {
    font-weight: bold;
    font-style: italic;
}
.tableheader td:hover {
    color:rgb(28, 62, 218);
}
tr.tableheader a {
    cursor: pointer;               
}
.search{    
    float: right;  
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
