<app-menu></app-menu>
<div class="mx-auto" style="width: 95%;">  

  <div class="hometitle">
    <h1>About This Site</h1>
  </div>

  <p>
    This purchase request system was made for the capstone project for the three-month .NET development bootcamp at MAX. 
    Every part of this full-stack project was created here. The database uses SQL Server, most of the functions are implemented
    with C#, the UI was designed with HTML/Bootstrap/CSS, and functions with Typescript/Angular.
  </p>
  <h4>Technologies Used</h4>
  <br>
  <table class="table table-sm">
    <tr>
      <td>Git/GitHub</td>
      <td>SQL Server</td>
      <td>C#</td>
      <td>Java</td>
    </tr>
    <tr>
      <td>Entity Framework</td>
      <td>MVC</td>
      <td>WebApi</td>
      <td>HTML/CSS/Bootstrap/jQuery</td>
    </tr>
    <tr>
      <td>Javascript</td>
      <td>Scrum</td>
      <td>Typescript</td>
      <td>Angular</td>
    </tr>
  </table>
  <hr>
  <br>
  <p>
    A brief introduction, sans personal information. I come from a background of professional music, specializing in
    scoring for visual and interactive media. I really enjoy music theory, and there are a lot of parallels between
    coding and composing. The creative thought-process required to compose effectively is exactly the same for
    planning and problem solving when coding. The structure of a well written piece of music is a lot like a well written
    piece of code as well. I've only been doing this for three months at time of writing, and it's been a lot of fun.
    There's a lot of room to improve which is a great thing. 
    <br><br>
    I've been an avid gamer for a long time, and thoroughly enjoy anime. I'd love to write music for games.
  </p>
  
</div>