<app-menu></app-menu>
<div class="component">
    <div class="header">      
      <span class="pagetitle">Product Create</span> | 
      <span class="createlink">
        <a routerLink="/products/list">Back to product list</a>
      </span>
    </div>

    <table class="table table.sm">
        <tr>
          <td>Id:</td>
          <td><input [(ngModel)]="product.id" type="number" disabled></td>
        </tr>
        <tr>
          <td>Part Nbr:</td>
          <td><input [(ngModel)]="product.partNbr" type="string"></td>
        </tr>
        <tr>
          <td>Name:</td>
          <td><input [(ngModel)]="product.name" type="string"></td>
        </tr>
        <tr>
          <td>Price:</td>
          <td><input [(ngModel)]="product.price" type="number"></td>
        </tr>
        <tr>
          <td>Unit:</td>
          <td><input [(ngModel)]="product.unit" type="string"></td>
        </tr>
        <tr>
          <td>Photopath:</td>
          <td><input [(ngModel)]="product.photoPath" type="string"></td>
        </tr>
        <tr>
          <td>Vendor:</td>
          <td>
            <select [(ngModel)]="product.vendorId" type="number">              
              <option *ngFor="let vendor of vendors" [ngValue]="vendor.id">
                {{vendor.id}} | {{vendor.name}}
              </option>
            </select>            
          </td>
        </tr>
      </table>
  <button (click)="save()" class="btn btn-primary btn-sm">Save</button>
</div>